extends layout

block content
  h1 #{name}
  h2 Created at: #{created_at}
  h2 Updated at: #{updated_at}
  p #{content}
  p 
    a(href='/post/#{id}/delete') Delete
  p
    a(href='/post/#{id}/update') Update
  p
    a(href='/') Home
