extends layout

block content
  div(class='container')
    table(class='table table-bordered')
      thead
        tr
          th Username
          th Password
          th Admin
          th
      tbody
        each user in users
          tr
            td= user.username
            td= user.password
            td= user.admin
            td: a(href='/users/#{user.id}/admin') Edit
    div(class='footer row')
      if currentUser
        div(class='col-md-11')
          p Logged in as: #{currentUser.username}
        div(class='col-md-1')
          p: a(href='/logout') Log Out
      else
        div(class='col-md-11')
          p: a(href='/login') Log In
        div(class='col-md-1')
          p: a(href='/signup') Sign Up